*{
  margin:0;
}
.App{
  background-color: #fafafa;
}

.app__headder{
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.app__headderImage{
  padding: 15px;
  object-fit: contain;
}

.app__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app__posts{
  padding:20px;
  display: flex;
  justify-content: center;
}
.app__postsright{
  margin-left: 20px;
}
.app__addpost{
  position: sticky;
  bottom: 0;
  background-color: white;
}